// common
@import './common/common';
// components
@import './components/hero-header';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';
