@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --accent-clr: #f8d24e;
  --bg-main-clr: #84a178;
  --bg-secondary-clr: #fcfcfc;
  --bg-product-one-clr: #aec6a5;
  --bg-product-one-clr-alpha: rgba(156, 190, 143, 0.7);
  --bg-product-two-clr: #efd478;
  --bg-product-two-clr-alpha: rgba(248, 210, 78, 0.7);
  --bg-product-three-clr: #d6936d;
  --bg-product-three-clr-alpha: rgba(213, 117, 63, 0.7);
  --text-main-clr: #131313;
  --text-secondary-clr: #fcfcfc;
  --text-contacts-clr: #d6936d;
  --text-contacts-secondary-clr: #ababab;
  --text-footer-clr: #7a7a7a;
  --text-white-color: #ffffff;
  --font-main: "Montserrat", Arial, sans-serif;
  --font-secondary: "Seymour One", "Arial Black", sans-serif;
  --input-border-clr: #84a178;
  --input-bg-clr: rgba(248, 210, 78, 0.1);
  --mobile-menu-bg-clr: #85a279;
  --tablet-menu-bg-clr: #97af8d;
  --btn-text-clr: #000000;
  --btn-hover-focus-bg-clr: #0a8817;
  --btn-text-focus-clr: #fcfcfc;
  --btn-disabled-clr: #ababab;
  --icon-black-clr: #000000;
  --icon-socials-clr: #84a178;
  --icon-hover-focus-clr: #fcfcfc;
  --transition-time: 250ms;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

body {
  font-family: var(--font-main);
  background-color: #b6b6b6;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  color: var(--btn-text-clr);
  background-color: transparent;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.btn--bordered {
  border: 2px solid var(--accent-clr);
  transition-property: border-color, color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}
.btn--bordered:hover, .btn--bordered:focus {
  border-color: var(--btn-hover-focus-bg-clr);
}
.btn--bordered:focus {
  color: var(--btn-text-focus-clr);
}
.btn--bordered:disabled {
  border-color: var(--btn-disabled-clr);
}

.btn--bordered-sm {
  min-width: 108px;
  min-height: 38px;
  font-size: 12px;
  line-height: 1.1666666667;
}

.btn--bordered-md {
  min-width: 134px;
  min-height: 42px;
}

.btn--bordered-lg {
  min-width: 196px;
  min-height: 42px;
}

.btn--with-icon .btn__text {
  margin-right: 4px;
}
.btn--with-icon .btn__icon {
  fill: currentColor;
}

.btn--with-bg {
  min-height: 42px;
  background-color: var(--accent-clr);
  transition-property: background-color, color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}
.btn--with-bg:hover, .btn--with-bg:focus {
  background-color: var(--btn-hover-focus-bg-clr);
}
.btn--with-bg:focus {
  color: var(--btn-text-focus-clr);
}
.btn--with-bg:disabled {
  background-color: var(--btn-disabled-clr);
}

.btn--with-bg-sm {
  min-width: 152px;
}

.btn--with-bg-md {
  min-width: 164px;
}

.btn--with-bg-lg {
  min-width: 196px;
}

.btn--text-decorated {
  text-decoration: underline;
  color: var(--accent-clr);
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}
.btn--text-decorated:hover, .btn--text-decorated:focus {
  color: var(--btn-hover-focus-bg-clr);
}
.btn--text-decorated:focus {
  color: var(--btn-text-focus-clr);
}
.btn--text-decorated:disabled {
  color: var(--btn-disabled-clr);
}

.btn--text-decorated-sm {
  min-width: 106px;
  min-height: 24px;
  padding: 5px;
  font-size: 12px;
  line-height: 1.25;
}

.btn--text-decorated-md {
  min-width: 154px;
  min-height: 40px;
}

.container {
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero__section {
  padding-top: 50px;
  padding-bottom: 237px;
  max-width: 320px;
  background-color: var(--bg-main-clr);
  position: relative;
}

.hero__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-secondary-clr);
  font-family: var(--font-secondary);
  margin-bottom: 32px;
}
.hero__title--lg {
  font-size: 34px;
}

.hero__container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.hero__list {
  display: flex;
  gap: 12px;
}

.hero__img-dots {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero__img-cone {
  position: absolute;
  left: 83px;
  bottom: 0;
}

.about {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: var(--mobile-menu-bg-clr);
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__label {
  margin-bottom: 12px;
  color: var(--text-white-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section__label {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .section__label {
    font-size: 30px;
  }
}

.section__heading {
  margin-bottom: 32px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--text-white-color);
  font-family: var(--font-secondary);
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .section__heading {
    margin-bottom: 72px;
    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .section__heading {
    margin-bottom: 82px;
    font-size: 36px;
  }
}

.about-container {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .about-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-container {
    padding-left: 17px;
    padding-right: 17px;
  }
}

.about-content {
  position: relative;
}
@media screen and (min-width: 768px) {
  .about-content {
    display: flex;
  }
}

.about__img {
  margin: 0 auto;
  margin-bottom: 40px;
}
.about__img::after {
  z-index: 100;
  content: " ";
  width: 280px;
  height: 280px;
  background-color: var(--accent-clr);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
  transform: translate(-50%);
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-right: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    margin-right: 109px;
  }
}

.about-info {
  padding-left: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about-info {
    padding-top: 8px;
    padding-right: 2px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about-info {
    padding-top: 100px;
    padding-right: 104px;
  }
}

.about-info__text {
  margin-bottom: 4px;
  color: var(--text-white-color);
  font-size: 12px;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .about-info__text {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .about-info__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767.97px) {
  .about-info__text-2 {
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .about-info__text-2 {
    font-size: 14px;
    line-height: 1.9;
  }
}
.about-info__text-3 {
  line-height: 1.9;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .about-info__text-3 {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-info__text-3 {
    margin-bottom: 54px;
    font-size: 14px;
  }
}

.about-info__text--hidden {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 767.97px) {
  .about-info__text--hidden {
    display: none;
  }
}

.about__button {
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin: 0;
  }
}

.advantages {
  background-color: var(--bg-main-clr);
}

.advantages__box {
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__item {
  width: calc((100% - 0px) / 1);
}

.advantages__item:not(:last-child) {
  margin: 0 auto 16px;
}

.advantages__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: var(--accent-clr);
  border-radius: 50%;
  margin: 0 auto 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages__item--cow::before {
  background-image: url(../images/advantages/img-1_36.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item--cow::before {
    background-image: url(../images/advantages/img-1_72.png);
  }
}

.advantages__item--pood::before {
  background-image: url(../images/advantages/img-2_36.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item--pood::before {
    background-image: url(../images/advantages/img-2_72.png);
  }
}

.advantages__item--ice::before {
  background-image: url(../images/advantages/img-3_36.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item--ice::before {
    background-image: url(../images/advantages/img-3_72.png);
  }
}

.advantages__under {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;
}

.advantages__text {
  width: 230px;
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6666666667;
  text-align: center;
  color: #fcfcfc;
  margin: 0 auto;
}

.gallery {
  position: relative;
}
@media screen and (max-width: 767px) {
  .gallery {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-bottom: 140px;
  }
}

.gallery-thumb {
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .gallery-thumb {
    max-width: 280px;
    border-radius: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-thumb {
    max-width: 704px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-thumb {
    max-width: 1013px;
    border-radius: 24px;
  }
}

.slider__container {
  width: 320px;
  margin: 0 auto;
}

.slider__thumb {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  border: 0.5px solid transparent;
  border-radius: 44%;
  /* background: #6E6E6E; */
  width: 85px;
  overflow: hidden;
}

.slider__list {
  text-align: center;
}

.slider__content {
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  /* padding-left: 39px; */
  padding-top: 35px;
  /* padding-right: 39px; */
  padding-bottom: 35px;
  background-color: var(--bg-main-clr);
  border-radius: 10px;
}

.slider__review {
  width: 202px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: var(--btn-text-focus-clr);
}

.slider__text {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: var(--text-main-clr);
}

.slick-dots li button {
  margin-bottom: 40px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--bg-main-clr);
}

.slick-dots li button:before {
  color: #84a178;
}

.slick-dots li button:disabled:before {
  color: #d9d9d9;
}

.slick-dots li.slick-active button:before {
  opacity: 0;
  color: #84a178;
}

.menu-toggle,
.menu-toggle-close {
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    position: inherit;
    top: 32px;
    right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle-close {
    top: 32px;
    right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-toggle-close {
    display: none;
  }
}

.icon-close {
  fill: white;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 100px 20px 64px;
  background-color: var(--mobile-menu-bg-clr);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .menu-container {
    padding: 140px 32px 64px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  margin-bottom: 64px;
  text-align: center;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 10vw;
  line-height: 1.21875;
  letter-spacing: 0.02em;
  color: var(--text-secondary-clr);
}
@media screen and (min-width: 480px) {
  .mobile-menu-link {
    font-size: 48px;
  }
}
.mobile-menu-link--current {
  color: var(--text-main-clr);
  font-weight: 700;
  font-size: 10vw;
  line-height: 1.21875;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .mobile-menu-link--current {
    font-size: 48px;
  }
}

.mobile-menu-logo {
  position: absolute;
  top: 12px;
  left: 32px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-logo {
    top: 20px;
  }
}

.mobile-menu-btn {
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */