:root {
  // Accent color used in buttons, menu hover, modal border, icon bg
  --accent-clr: #f8d24e;
  // BG colors
  --bg-main-clr: #84a178;
  --bg-secondary-clr: #fcfcfc;
  --bg-product-one-clr: #aec6a5;
  --bg-product-one-clr-alpha: rgba(156, 190, 143, 0.7);
  --bg-product-two-clr: #efd478;
  --bg-product-two-clr-alpha: rgba(248, 210, 78, 0.7);
  --bg-product-three-clr: #d6936d;
  --bg-product-three-clr-alpha: rgba(213, 117, 63, 0.7);
  // Text variables
  --text-main-clr: #131313;
  --text-secondary-clr: #fcfcfc;
  --text-contacts-clr: #d6936d;
  --text-contacts-secondary-clr: #ababab;
  --text-footer-clr: #7a7a7a;
  --text-white-color: #ffffff;
  --font-main: 'Montserrat', Arial, sans-serif;
  --font-secondary: 'Seymour One', 'Arial Black', sans-serif;
  // Modal colors
  --input-border-clr: #84a178;
  --input-bg-clr: rgba(248, 210, 78, 0.1);
  // Menu colors
  --mobile-menu-bg-clr: #85a279;
  --tablet-menu-bg-clr: #97af8d;
  // Btn variables
  --btn-text-clr: #000000;
  --btn-hover-focus-bg-clr: #0a8817;
  --btn-text-focus-clr: #fcfcfc;
  --btn-disabled-clr: #ababab;
  // Icon variables
  --icon-black-clr: #000000;
  --icon-socials-clr: #84a178;
  --icon-hover-focus-clr: #fcfcfc;
  // Transitions
  --transition-time: 250ms;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
