<section class="advantages" id="advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--cow">
        <p class="advantages__under">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--pood">
        <p class="advantages__under">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--ice">
        <p class="advantages__under">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
