<section class="advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--cow" data-aos="zoom-in">
        <p class="advantages__under" data-digits-counter>721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item advantages__item--pood" data-aos="zoom-in" data-aos-delay="250">
        <p class="advantages__under" data-digits-counter>16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--ice" data-aos="zoom-in" data-aos-delay="500">
        <p class="advantages__under" data-digits-counter>84</p>

        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
