<div class="buttons" style="background-color: darkslategrey">
  <hr />

  <h5 style="color: bisque">
    fou use add nedded classes:
    <br />
    btn
    <br />
    btn--bordered
    <br />
    btn--bordered-sm/md/lg"
    <br />
    and attribute: disabled
  </h5>
  <!-- bordered small -->
  <button class="btn btn--bordered btn--bordered-sm" type="button">
    <span class="btn__text">Products</span>
  </button>
  <!-- bordered small disabled-->
  <button class="btn btn--bordered btn--bordered-sm" type="button" disabled>
    <span class="btn__text">Products</span>
  </button>

  <br />
  <!-- bordered medium -->
  <button class="btn btn--bordered btn--bordered-md" type="button">
    <span class="btn__text">Products</span>
  </button>
  <!-- bordered medium disabled -->
  <button class="btn btn--bordered btn--bordered-md" type="button" disabled>
    <span class="btn__text">Products</span>
  </button>

  <br />
  <!-- bordered large -->
  <button class="btn btn--bordered btn--bordered-lg" type="button">
    <span class="btn__text">Products</span>
  </button>
  <!-- bordered large disabled-->
  <button class="btn btn--bordered btn--bordered-lg" type="button" disabled>
    <span class="btn__text">Products</span>
  </button>

  <hr />

  <h5 style="color: bisque">
    fou use add nedded classes:
    <br />
    btn
    <br />
    btn--with-icon
    <br />
    btn--btn--with-bg
    <br />
    btn--with-bg-sm/md/lg"
    <br />
    and attribute: disabled
  </h5>
  <!-- with icon & with bg small -->
  <button class="btn btn--with-icon btn--with-bg btn--with-bg-sm" type="button">
    <span class="btn__text">Buy now</span>
    <svg class="btn__icon icon" width="12" height="12">
      <use href="./images/icons.svg#icon-arrow-sm"></use>
    </svg>
  </button>
  <!-- with icon & with bg small disabled-->
  <button
    class="btn btn--with-icon btn--with-bg btn--with-bg-sm"
    type="button"
    disabled
  >
    <span class="btn__text">Buy now</span>
    <svg class="btn__icon icon" width="12" height="12">
      <use href="./images/icons.svg#icon-arrow-sm"></use>
    </svg>
  </button>

  <br />
  <!-- with icon & with bg medium -->
  <button class="btn btn--with-icon btn--with-bg btn--with-bg-md" type="button">
    <span class="btn__text">Read more</span>
    <svg class="btn__icon icon" width="12" height="12">
      <use href="./images/icons.svg#icon-arrow-sm"></use>
    </svg>
  </button>
  <!-- with icon & with bg medium disabled -->
  <button
    class="btn btn--with-icon btn--with-bg btn--with-bg-md"
    type="button"
    disabled
  >
    <span class="btn__text">Read more</span>
    <svg class="btn__icon icon" width="12" height="12">
      <use href="./images/icons.svg#icon-arrow-sm"></use>
    </svg>
  </button>

  <br />
  <!-- with icon & with bg large -->
  <button class="btn btn--with-icon btn--with-bg btn--with-bg-lg" type="button">
    <span class="btn__text">Our Locations</span>
  </button>
  <!-- with icon & with bg large -->
  <button
    class="btn btn--with-icon btn--with-bg btn--with-bg-lg"
    type="button"
    disabled
  >
    <span class="btn__text">Our Locations</span>
  </button>

  <hr />

  <h5 style="color: bisque">
    fou use add nedded classes:
    <br />
    btn
    <br />
    btn--text-decorated
    <br />
    btn--text-decorated-sm/md/lg"
    <br />
    and attribute: disabled
  </h5>
  <!-- text-decorated small -->
  <button class="btn btn--text-decorated btn--text-decorated-sm" type="button">
    <span class="btn__text">How it’s made?</span>
  </button>
  <!-- text-decorated small disabled -->
  <button
    class="btn btn--text-decorated btn--text-decorated-sm"
    type="button"
    disabled
  >
    <span class="btn__text">How it’s made?</span>
  </button>

  <br />
  <!-- text-decorated medium -->
  <button class="btn btn--text-decorated btn--text-decorated-md" type="button">
    <span class="btn__text">How it’s made?</span>
  </button>
  <!-- text-decorated medium disabled-->
  <button
    class="btn btn--text-decorated btn--text-decorated-md"
    type="button"
    disabled
  >
    <span class="btn__text">How it’s made?</span>
  </button>

  <br />
  <!-- text-decorated large -->
  <button class="btn btn--text-decorated btn--text-decorated-lg" type="button">
    <span class="btn__text">How it’s made?</span>
  </button>
  <!-- text-decorated large disabled -->
  <button
    class="btn btn--text-decorated btn--text-decorated-lg"
    type="button"
    disabled
  >
    <span class="btn__text">How it’s made?</span>
  </button>
</div>
<div class="up__box">
<a class="up__button" href="#"><svg class="up__arrow">
  <use href="./images/icons.svg#icon-uparrow"></use>
</svg></a>
</div>