<section>
  <h2 class="visually-hidden">Contats</h2>

  <div class="container">
    <ul class="contacts-card">
      <!-- Card 1 -->
      <li class="contacs-location">
        <p class="contacts-card__title">CAFE</p>
        <div class="contacts-location__groop">
          <p class="contacs-location__title">Chicago</p>
          <address>
            <a class="contacs-location__link" href="https://goo.gl/maps/FygLrBbGdPgHAaXk8" target="_blank"
              rel="noopener nofollow noreferrer">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
          </address>
        </div>


        <div class="contacts-location__groop">
          <p class="contacs-location__title">Monday - Friday</p>
          <p class="contacs-location__time">08:00 AM - 16:00 PM</p>
          <p class="contacs-location__title">Saturday - Sunday</p>
          <p class="contacs-location__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-location__groop">
          <address class="">
            <a class="contacts-location__phone" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts-location__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>

      <!-- Card 2 -->
      <li class="contacs-location">
        <p class="contacts-card__title">FOODTRUCK</p>
        <div class="contacts-location__groop">
          <p class="contacs-location__title">Los Angeles</p>
          <address>
            <a class="contacs-location__link" href="https://goo.gl/maps/EQNZ3oqQrrEtiSTY9" target="_blank"
              rel="noopener nofollow noreferrer">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
          </address>
        </div>

        <div class="contacts-location__groop">
          <p class="contacs-location__title">Monday - Friday</p>
          <p class="contacs-location__time">08:00 AM - 16:00 PM</p>
          <p class="contacs-location__title">Saturday - Sunday</p>
          <p class="contacs-location__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-location__groop">
          <address class="">
            <a class="contacts-location__phone" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts-location__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>
      <!-- Card 3 -->

      <li class="contacs-location">
        <p class="contacts-card__title">Cafe</p>
        <div class="contacts-location__groop">
          <p class="contacs-location__title">New York</p>
          <address>
            <a class="contacs-location__link" href="https://goo.gl/maps/ZF4NFXdwxFuj9FWc9" target="_blank"
              rel="noopener nofollow noreferrer">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
          </address>
        </div>

        <div class="contacts-location__groop">
          <p class="contacs-location__title">Monday - Friday</p>
          <p class="contacs-location__time">08:00 AM - 16:00 PM</p>
          <p class="contacs-location__title">Saturday - Sunday</p>
          <p class="contacs-location__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-location__groop">
          <address class="">
            <a class="contacts-location__phone" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts-location__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>
    </ul>

    <!-- Buttons -->
    <ul class="contacts-btn">
      <li class="contacts-btn__item">
        <button class="contacts-btn__btn" type="button">
          <span class="contacts-btn__text">Our Locations</span>
        </button>
      </li>
      <li class="contacts-btn__item">
        <button class="contacts-btn__btn" type="button">
          <span class="contacts-btn__text">Franchise</span>
        </button>
      </li>
    </ul>
  </div>