<section class="container">
  <h2 class="visually-hidden">Contacts</h2>
  <p>CAFE</p>
  <div class="location">
    <h3 class="location__title">Chicago</h3>
    <address class="lovation__link">
      <a
        href="https://goo.gl/maps/FygLrBbGdPgHAaXk8"
        target="_blank"
        rel="noopener nofollow noreferrer"
        >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
      >
    </address>
  </div>
  <div class="week">
    <ul class="week-list">
      <li class="week-list__item">
        <p class="week-list__day">Monday - Friday</p>
        <p class="week-list__time">06:00 AM - 10:00 PM</p>
      </li>
      <li>
        <p class="week-list__day">Saturday - Sunday</p>
        <p class="week-list__time">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
  </div>
  <div class="contacts">
    <ul>
      <li>
        <a class="contacts__tel" href="tel:+61(0)383766284"
          >+61(0) 383 766 284</a
        >
      </li>
      <li>
        <a class="contacts__mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
  </div>
</section>
