<section class="slider">
  <div class="container">
    <h2 class="visually-hidden slider__title">Customer Reviews</h2>
    <!-- Slider main container -->
    <div class="swiper slider__container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <!-- <div class="swiper-slide">
          <div class="slider__content">
            <div class="slider__thumb">
              <picture>
                <source srcset="
                    ./images/customer-reviews/img-1_85.jpg  1x,
                    ./images/customer-reviews/img-1_170.jpg 2x
                  " />
                <img class="img" src="./images/customer-reviews/img-1_85.jpg" alt="photo of a brunette" width="85" />
              </picture>
            </div>

            <div class="slider__wrap">
              <p class="slider__review">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>

            <div class="slider__text-wrap">
              <p class="slider__text">Emily, Los Angeles</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider__content">
            <div class="slider__thumb">
              <picture>
                <source srcset="
                    ./images/customer-reviews/img-2_85.jpg  1x,
                    ./images/customer-reviews/img-2_170.jpg 2x
                  " />
                <img class="img" src="./images/customer-reviews/img-2_85.jpg" alt="a boy in a pink cap with ice cream"
                  width="85" />
              </picture>
            </div>

            <div class="slider__wrap">

      <div class="card">
        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quos consequuntur libero, ab
          possimus voluptates.</div>
        <div class="meta">Card «footer»</div>
      </div>

            </div>

            <div class="slider__text-wrap">
              <p class="slider__text">Bryan, New-York</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider__content">
            <div class="slider__thumb">
              <picture>
                <source srcset="
                    ./images/customer-reviews/img-3_85.jpg  1x,
                    ./images/customer-reviews/img-3_170.jpg 2x
                  " />
                <img class="img" src="./images/customer-reviews/img-3_85.jpg" alt="girl in glasses with ice cream"
                  width="85" />
              </picture>
            </div>

      </div> -->


      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">

            <div class="card-container">
              <div class="card">
                            <div class="slider__thumb">
                              <picture>
                                <source srcset="
                                                ./images/customer-reviews/img-1_85.jpg  1x,
                                                ./images/customer-reviews/img-1_170.jpg 2x
                                              " />
                                <img class="img" src="./images/customer-reviews/img-1_85.jpg" alt="photo of a brunette" width="85" />
                              </picture>
                            </div>
                <div class="content">I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.</div>
                            <div class="slider__text-wrap">
                              <p class="slider__text">Emily, Los Angeles</p>
                            </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card-container">
              <div class="card">
                            <div class="slider__thumb">
                              <picture>
                                <source srcset="
                                                ./images/customer-reviews/img-2_85.jpg  1x,
                                                ./images/customer-reviews/img-2_170.jpg 2x
                                              " />
                                <img class="img" src="./images/customer-reviews/img-2_85.jpg" alt="a boy in a pink cap with ice cream" width="85" />
                              </picture>
                            </div>
                <div class="content">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
</div>
                            <div class="slider__text-wrap">
                              <p class="slider__text">Bryan, New-York</p>
                            </div>
              </div>
             </div>
          </div>

          <div class="swiper-slide">
            <div class="card-container">
              <div class="card">
                            <div class="slider__thumb">
                              <picture>
                                <source srcset="
                                                ./images/customer-reviews/img-3_85.jpg  1x,
                                                ./images/customer-reviews/img-3_170.jpg 2x
                                              " />
                                <img class="img" src="./images/customer-reviews/img-3_85.jpg" alt="girl in glasses with ice cream" width="85" />
                              </picture>
                            </div>
                <div class="content">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always
                served politely and quickly!</div>
                            <div class="slider__text-wrap">
                              <p class="slider__text">Diana, Chicago</p>
                            </div>
              </div>
            </div>
          </div>

        </div>


      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

