<footer class="footer">
  <div class="footer__container">
    <div class="footer__tumb">
      <p class="footer__title">homemade ice cream made</p>
      <p class="footer__title-accent">with passion</p>
    </div>
    <div class="footer-socials__container">
      <ul class="footer-socials__list">
        <li class="footer-socials__item">
          <a
            href="https://github.com/"
            class="footer-socials__link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Github icon"
          >
            <svg class="footer-socials__icon" width="34" height="34">
              <use href="./images/icons.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="footer-socials__item">
          <a
            href="https://telegram.org​"
            class="footer-socials__link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Telegram icon"
            ><svg class="footer-socials__icon" width="34" height="34">
              <use href="./images/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="footer-socials__item">
          <a
            href="https://facebook.com"
            class="footer-socials__link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook icon"
            ><svg class="footer-socials__icon" width="34" height="34">
              <use href="./images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <div class="footer-communication__container">
        <address>
          <p class="footer-communication_title">Feel free to contact</p>
          <a href="tel:+61(0)383766284" class="footer-communication__contacts"
            >+61 (0) 383 766 284
          </a>
        </address>
      </div>
    </div>
  </div>
</footer>
