<section class="gallery">
  <div class="gallery-container">
    <h2 class="visually-hidden">gallery</h2>
    <div class="gallery-thumb">
      <div class="gallery-animation" id="cf4a" data-aos="zoom-in">
        <img
          srcset="
            ./images/gallery/img-1_280.jpg   280w,
            ./images/gallery/img-1_560.jpg   560w,
            ./images/gallery/img-1_704.jpg   704w,
            ./images/gallery/img-1_1013.jpg 1013w,
            ./images/gallery/img-1_1408.jpg 1408w,
            ./images/gallery/img-1_2026.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
          src=" ./images/gallery/img-1_1013.jpg"
          alt="ice-cream"
          loading="lazy"
          width="1013"
          height="422"
        />
        <img
          srcset="
            ./images/gallery/img-2_280.jpg   280w,
            ./images/gallery/img-2_560.jpg   560w,
            ./images/gallery/img-2_704.jpg   704w,
            ./images/gallery/img-2_1013.jpg 1013w,
            ./images/gallery/img-2_1408.jpg 1408w,
            ./images/gallery/img-2_2026.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
          src=" ./images/gallery/img-2_1013.jpg"
          alt="ice-cream"
          loading="lazy"
          width="1013"
          height="422"
        />
        <img
          srcset="
            ./images/gallery/img-3_280.jpg   280w,
            ./images/gallery/img-3_560.jpg   560w,
            ./images/gallery/img-3_704.jpg   704w,
            ./images/gallery/img-3_1013.jpg 1013w,
            ./images/gallery/img-3_1408.jpg 1408w,
            ./images/gallery/img-3_2026.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
          src=" ./images/gallery/img-3_1013.jpg"
          alt="ice-cream"
          loading="lazy"
          width="1013"
          height="422"
        />
        <img
          srcset="
            ./images/gallery/img-4_280.jpg   280w,
            ./images/gallery/img-4_560.jpg   560w,
            ./images/gallery/img-4_704.jpg   704w,
            ./images/gallery/img-4_1013.jpg 1013w,
            ./images/gallery/img-4_1408.jpg 1408w,
            ./images/gallery/img-4_2026.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
          src=" ./images/gallery/img-4_1013.jpg"
          alt="ice-cream"
          loading="lazy"
          width="1013"
          height="422"
        />
        <img
          srcset="
            ./images/gallery/img-5_280.jpg   280w,
            ./images/gallery/img-5_560.jpg   560w,
            ./images/gallery/img-5_704.jpg   704w,
            ./images/gallery/img-5_1013.jpg 1013w,
            ./images/gallery/img-5_1408.jpg 1408w,
            ./images/gallery/img-5_2026.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
          src=" ./images/gallery/img-5_1013.jpg"
          alt="ice-cream"
          loading="lazy"
          width="1013"
          height="422"
        />
        <img
          srcset="
            ./images/gallery/img-6_280.jpg   280w,
            ./images/gallery/img-6_560.jpg   560w,
            ./images/gallery/img-6_704.jpg   704w,
            ./images/gallery/img-6_1013.jpg 1013w,
            ./images/gallery/img-6_1408.jpg 1408w,
            ./images/gallery/img-6_2026.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
          src=" ./images/gallery/img-6_1013.jpg"
          alt="ice-cream"
          loading="lazy"
          width="1013"
          height="422"
        />
      </div>
    </div>
  </div>
</section>
