<section class="gallery">
  <div class="gallery-container">
    <h2 class="visually-hidden">gallery</h2>
    <div class="gallery-thumb">
      <div id="slide1_container">
        <div id="slide1_images">
          <img
            srcset="
              ./images/gallery/img-1_280.jpg   280w,
              ./images/gallery/img-1_560.jpg   560w,
              ./images/gallery/img-1_704.jpg   704w,
              ./images/gallery/img-1_1013.jpg 1013w,
              ./images/gallery/img-1_1408.jpg 1408w,
              ./images/gallery/img-1_2026.jpg 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
            src=" ./images/gallery/img-1_1013.jpg"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
          <img
            class="gallery-dek-img"
            srcset="
              ./images/gallery/img-2_1013.jpg 1013w,
              ./images/gallery/img-2_2026.jpg 2026w
            "
            sizes="(min-width: 1200px) 1013px, 100vw"
            src=" ./images/gallery/img-2_1013.jpg"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
          <img
            class="gallery-dek-img"
            srcset="
              ./images/gallery/img-3_1013.jpg 1013w,
              ./images/gallery/img-3_2026.jpg 2026w
            "
            sizes="(min-width: 1200px) 1013px, 100vw"
            src=" ./images/gallery/img-3_1013.jpg"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
        </div>
      </div>
      <p id="slide1_controls">
        <span class="selected">1</span>
        <span>2</span>
        <span>3</span>
      </p>
    </div>
  </div>
</section>
