<header class="header">
  <div class="container header-container">
    <div class="logo-wrap">
      <a href="#" class="logo link">logo</a>
    </div>
    <nav class="navigation">
      <ul class="nav-list list">
        <li><a href="#" class="nav-link link">Home</a></li>
        <li><a href="#about" class="nav-link link">How it’s made?</a></li>
        <li><a href="#service" class="nav-link link">Our products</a></li>
        <li><a href="#contact" class="nav-link link">Contact</a></li>
      </ul>
    </nav>
    <div class="btn-wrap">
      <button type="button" class="header-btn">Buy now</button>
    </div>
  </div>
</header>

<button
  class="menu-toggle js-open-menu"
  aria-expanded="false"
  aria-controls="mobile-menu"
>
  <svg width="32" height="32">
    <use href="./images/icons.svg#icon-menu"></use>
  </svg>
</button>
