<section class="hero__section">
  <div class="hero__container container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--lg">passion</span>
    </h1>
    <ul class="hero__list">
      <li><a class="hero__link-products" href="">Products</a></li>
      <li><a class="hero__link-how" href="">How it’s made?</a></li>
    </ul>
    <img
      class="hero__img-dots"
      srcset="./images/hero/img-3_320.png 1x, ./images/hero/img-3_640.png 2x"
      src="./images/hero/img-3_320.png"
      alt="Yellow dots background"
      width="320"
      height="49"
    />
    <img
      class="hero__img-cone"
      srcset="./images/hero/img-1_177.png 1x, ./images/hero/img-1_354.png 2x"
      src="./images/hero/img-1_177.png"
      alt="Ice-cream cone"
      width="177"
      height="217"
    />
  </div>
</section>
