<section class="hero__section">
  <div class="container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--lg">passion</span>
    </h1>
    <ul class="hero__list">
      <li>
        <a
          class="hero__link-products btn btn--bordered btn--bordered-sm"
          href="#products"
          >Products</a
        >
      </li>
      <li>
        <a
          class="hero__link-how btn btn--text-decorated btn--text-decorated-sm"
          href="#about"
          >How it’s made?</a
        >
      </li>
    </ul>
  </div>
  <div class="hero__overlay">
    <picture class="hero__img-dots">
      <source
        srcset="
          ./images/hero/img-3_1200.png 1x,
          ./images/hero/img-3_2400.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/hero/img-3_768.png 1x, ./images/hero/img-3_1536.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/hero/img-3_480.png 1x, ./images/hero/img-3_960.png 2x"
        media="(max-width: 767px)"
      />
      <img src="./images/hero/img-3_480.png" alt="Yellow dots background" />
    </picture>
    <picture class="hero__img-cone">
      <source
        srcset="./images/hero/img-1_456.png 1x, ./images/hero/img-1_912.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/hero/img-1_268.png 1x, ./images/hero/img-1_536.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/hero/img-1_266.png 1x, ./images/hero/img-1_531.png 2x"
        media="(max-width: 767px)"
      />
      <img src="./images/hero/img-1_266.png" alt="Ice-cream cone" />
    </picture>
    <picture class="hero__img-ice-cream">
      <source
        srcset="./images/hero/img-2_225.png 1x, ./images/hero/img-2_450.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/hero/img-2_152.png 1x, ./images/hero/img-2_304.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/hero/img-2_152.png" alt="Ice-cream in a bowl" />
    </picture>
    <ul class="hero__stats">
      <li class="hero__stats-item">
        <span data-digits-counter class="hero__stats-number">16</span>
        <p class="hero__stats-text">cafes</p>
      </li>
      <li class="hero__stats-item">
        <span data-digits-counter class="hero__stats-number">23</span>
        <p class="hero__stats-text">food trucks</p>
      </li>
    </ul>
    <details class="hero__details">
      <summary class="hero__details-arrow"></summary>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </details>
  </div>
</section>
