<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-menu-logo">
    <a href="./index.html" class="logo">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ../src/images/logo/logo-60.png  1x,
            ../src/images/logo/logo-120.png 2x
          "
          type="image/png"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ../src/images/logo/logo-48.png 1x,
            ../src/images/logo/logo-96.png 2x
          "
          type="image/png"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ../src/images/logo/logo-40.png 1x,
            ../src/images/logo/logo-80.png 2x
          "
          type="image/png"
        />
        <img src="../src/images/logo/logo-40.png" alt="Logo" loading="lazy" />
      </picture>
    </a>
  </div>
  <button class="menu-toggle-close js-close-menu">
    <svg class="icon-close" width="32" height="32">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link js-close-menu3" href="./index.html">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link js-close-menu4" href="#advantages"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link js-close-menu5" href="#products"
        >Our products</a
      >
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link js-close-menu6" href="#contacts">Contact</a>
    </li>
  </ul>
  <button
    class="btn btn--with-bg btn--with-icon js-open-modal js-close-menu2 mobile-menu-btn"
    type="button"
    data-modal="product-card"
  >
    <span class="btn__text">Buy now</span>
    <svg class="btn__icon icon" width="12" height="12">
      <use href="./images/icons.svg#icon-arrow-sm"></use>
    </svg>
  </button>
</div>
