<div class="modal modal-product-card" data-modal="product-card">
  <button
    type="button"
    class="button-svg js-modal-close"
    data-modal-close-product-card
  >
    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
      />
    </svg>
  </button>
  <h3 class="modal-product-card__title">Buy now</h3>
  <form class="modal-form" name="modal_form">
    <ul class="modal-product-card-list">
      <li
        class="modal-product-card-list__item modal-product-card-list__item--ice-cream"
      >
        <label class="checkbox-label text" for="ice-cream">
          <span class="checkbox">
            <span
              class="product-card-list__circle product-card-list__circle--ice-cream"
            ></span>
            <span class="input__wrap">
              <input class="checkbox-input" type="checkbox" id="ice-cream" />
              <span class="product-card-list__p product-card-list__p--ice-cream"
                >Ice cream</span
              >
            </span>
          </span>
        </label>
      </li>
      <li
        class="modal-product-card-list__item modal-product-card-list__item--ice-coffee"
      >
        <label class="checkbox-label text" for="ice-coffee">
          <span class="checkbox">
            <span
              class="product-card-list__circle product-card-list__circle--ice-coffee"
            ></span>
            <span class="input__wrap">
              <input
                class="checkbox-input"
                type="checkbox"
                id="ice-coffee"
                checked
              />
              <span
                class="product-card-list__p product-card-list__p--ice-coffee"
                >ice-coffee</span
              >
            </span>
          </span>
        </label>
      </li>
      <li
        class="modal-product-card-list__item modal-product-card-list__item--milkshake"
      >
        <label class="checkbox-label text" for="milkshake">
          <span class="checkbox">
            <span
              class="product-card-list__circle product-card-list__circle--milkshake"
            ></span>
            <span class="input__wrap">
              <input class="checkbox-input" type="checkbox" id="milkshake" />
              <span class="product-card-list__p product-card-list__p--milkshake"
                >milkshake</span
              >
            </span>
          </span>
        </label>
      </li>
    </ul>
    <div class="modal-form__group" role="group">
      <label class="modal-form__label" for="user_name1"></label>
      <div class="modal-form-wrapper">
        <input
          class="modal-form-wrapper__field"
          type="text"
          name="user_name"
          id="user_name1"
          required
          placeholder="Name"
          pattern="[A-z]{1,30}"
          title="Username should only contain english letters. e.g. John"
        />
      </div>
      <label class="modal-form__label" for="user_phone1"></label>
      <div class="modal-form-wrapper">
        <input
          class="modal-form-wrapper__field"
          type="tel"
          name="user_phone"
          id="user_phone1"
          required
          placeholder="Phone"
          pattern="^\+\d{2}\d{3}\d{3}\d{2}\d{2}$"
          title="Phone number should be like +380445556677"
        />
      </div>
      <label class="modal-form__label" for="user_message1"></label>
      <textarea
        class="modal-form-message"
        name="user_message"
        id="user_message1"
        rows="4"
        placeholder="Comment"
      ></textarea>
    </div>

    <button
      class="btn btn--with-icon btn--with-bg btn--with-bg-sm"
      type="submit"
    >
      <span class="btn__text">Submit</span>
    </button>
  </form>
</div>
