<div class="modal modal-location" data-modal="location">
  <button
    type="button"
    class="button-svg js-modal-close"
    data-modal-close-location
  >
    <svg
      class=""
      width="14"
      height="14"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
      />
    </svg>
  </button>
  <h3 class="modal-location__title">Our Locations</h3>
  <iframe
    class="modal__iframe"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.71155383743!2d34.557238549999994!3d49.60204445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1suk!2sua!4v1672262101462!5m2!1suk!2sua"
    width="488"
    height="260"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <a
    class="btn btn--with-icon btn--with-bg btn--with-bg-sm"
    href="https://goo.gl/maps/uUSggjNBHGQR7PYW9"
    target="_blank"
    rel="noopener noreferrer nofollow"
    >Open map</a
  >
</div>
