.about {
  max-width: 1200px;
  margin: 0 auto;

  @include section(60px, 72px);
  background-color: var(--bg-main-clr);

  @media screen and (min-width: 768px) {
    @include section(60px, 86px);
  }
  @media screen and (min-width: 1200px) {
    @include section(60px, 99px);
  }
}
.section__label {
  margin-bottom: 12px;
  color: var(--text-white-color);

  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}
.section__heading {
  margin-bottom: 32px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--text-white-color);

  font-family: var(--font-secondary);
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;

    font-size: 34px;
    line-height: 1.3;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 82px;
    font-size: 36px;
  }
}
.about-content {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.about-img {
  width: 280px;
  min-height: 280px;

  position: absolute;

  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  border-radius: 50%;

  &::before {
    margin-top: 22px;
    display: block;

    content: '';
    width: 280px;
    height: 280px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../images/about/img-1_280.png);
    // retina mobile screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/img-1_560.png);
    }
    // Tablet screen
    @media screen and (min-width: 768px) {
      width: 330px;
      height: 330px;
      margin-top: 26px;

      background-image: url(../images/about/img-1_330.png);
      // retina tablet screen
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/about/img-1_660.png);
      }
    }
    // Desktop screen
    @media screen and (min-width: 1200px) {
      min-width: 490px;
      height: 490px;
      margin-top: 39px;

      background-image: url(../images/about/img-1_490.png);
      // retina desktop screen
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/about/img-1_980.png);
      }
    }
  }

  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;
  }
  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
  }
}
.img-wrap {
  min-width: 280px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  position: relative;

  @media screen and (min-width: 768px) {
    min-width: 330px;
    height: 330px;
    margin-left: 0;
    margin-right: 38px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    min-width: 490px;
    height: 490px;
    margin-left: 0;
    margin-right: 109px;
    margin-bottom: 0;
  }
}
.about-info {
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 8px;
    padding-right: 2px;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 100px;
    padding-right: 104px;
  }
}
.about-info__text {
  margin-bottom: 4px;

  color: var(--text-white-color);

  font-size: 12px;
  line-height: 1.8;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }

  &-2 {
    @media screen and (min-width: 320px) and (max-width: 767.97px) {
      line-height: 1.6;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.9;
    }
  }
  &-3 {
    line-height: 1.9;

    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 54px;
      font-size: 14px;
    }
  }
}
.about-info__text--hidden {
  @media screen and (min-width: 320px) and (max-width: 767.97px) {
    display: none;
  }
  display: block;
}
.about__button {
  margin: 0 auto;
  display: block;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
