.advantages {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--bg-main-clr);
  padding-bottom: 64px;

  @media screen and (min-width: 768px) {
    padding-bottom: 204px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 178px;
  }
}
.advantages__container {
  padding-left: 45px;
  padding-right: 45px;

  @media screen and (min-width: 768px) {
    padding-left: 76px;
    padding-right: 76px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 80px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.advantages__item {
  // margin: 0 auto;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 80px * (3 - 1)) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 32px * (3 - 1)) / 3);
  }
}

.advantages__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.advantages__item::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: var(--accent-clr);
  border-radius: 50%;
  margin: 0 auto 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.advantages__item--cow::before {
  background-image: url(../images/advantages/img-1_36.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/img-1_72.png);
  }
}

.advantages__item--pood::before {
  background-image: url(../images/advantages/img-2_36.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/img-2_72.png);
  }
}

.advantages__item--ice::before {
  background-image: url(../images/advantages/img-3_36.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/img-3_72.png);
  }
}

.advantages__under {
  // @include fonts(36px, 700, 44px /36px, 0.04em, uppercase, --text-secondary-clr);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(44 / 36);
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--text-secondary-clr);
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: calc(71 / 58);
  }
}

.advantages__text {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);
  text-align: center;
  color: var(--text-secondary-clr);

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    // padding-left: 15px;
    // padding-right: 15px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(28 / 16);
    letter-spacing: 0.02em;
  }
}
