.contacts-card {
  margin-left: auto;
  margin-right: auto;
  // Table
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
  }
  // Desctop

  @media screen and(min-width:1200px) {
    gap: 32px;
  }
}

.contacs-location {
  display: block;
  margin-bottom: 12px;

  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  // Tablet
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 16px * (3 - 1)) / 3);
  }

  // Destop
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 32px * (3 - 1)) / 3);
  }
}

.contacts-location__groop {
  padding-bottom: 24px;
}

.contacts-card__title {
  padding-bottom: 20px;

  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.04em;
  color: var(--text-main-clr);
}

.contacs-location__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--text-main-clr);
}

.contacs-location__link {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #d6936d;
}

.contacs-location__time {
  font-size: 12px;
  line-height: 1.83;
  color: #ababab;
}

.contacts-location__phone,
.contacts-location__mail {
  display: block;
  font-size: 12px;
  line-height: 1.58;

  color: #131313;
}

// btn
.contacts-btn {
  justify-content: center;
  text-align: center;
@media screen and(min-width:768px) {
  display: flex;
  gap: 16px;
  
}

}

.contacts-btn__item{
  padding-bottom: 16px;
}