.contacts {
  max-width: 1200px;
  margin: 0 auto;

  background-image: linear-gradient(
    to bottom,
    transparent 353px,
    var(--bg-main-clr) 353px
  );

  @media screen and(min-width:768px) {
    background-image: linear-gradient(
      to bottom,
      transparent 300px,
      var(--bg-main-clr) 300px
    );
  }

  @media screen and(min-width:1200px) {
    background-image: linear-gradient(
      to bottom,
      transparent 128px,
      var(--bg-main-clr) 128px
    );
  }

  padding-bottom: 60px;
  @media screen and(min-width:768px) {
    padding-bottom: 40px;
  }
  @media screen and(min-width:1200px) {
    padding-bottom: 120px;
  }
}

.contacts-card {
  margin-bottom: 20px;
  // Table
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
  }
  // Desctop

  @media screen and(min-width:1200px) {
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacs-location {
  padding: 40px 24px 32px;
  background: var(--bg-secondary-clr);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  // Tablet
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 16px * (3 - 1)) / 3);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    // Destop
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 32px * (3 - 1)) / 3);
    }
  }
  @media screen and(min-width:768px) {
    padding: 40px 24px;
  }

  @media screen and(min-width:1200px) {
    padding: 40px;
  }
}
.line {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}

.contacts-card__title {
  display: inline-block;
  padding: 4px 22px;

  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.04em;
  color: var(--text-main-clr);
  text-transform: uppercase;

  background: var(--accent-clr);
  border-radius: 4px;

  @media screen and(min-width:768px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: calc(22 / 16);
    padding: 4px 10px;
    min-width: 73px;
  }
  @media screen and (mon-width: 1200px) {
    padding: 4px 14px;
  }
}
.contacs-location__title {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  color: var(--text-main-clr);

  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and(min-width:1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
.contacs-location__title--town {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  color: var(--text-main-clr);
  margin-bottom: 8px;

  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @media screen and(min-width:1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    margin-bottom: 12px;
  }
}

.contacs-location__link {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--text-contacts-clr);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.contacs-location__time {
  font-size: 12px;
  line-height: 1.83;
  color: var(--btn-disabled-clr);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }

  &:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 12px;
    }
  }
}

.contacts-location__phone,
.contacts-location__mail {
  display: block;
  font-size: 12px;
  line-height: 1.58;

  color: var(--text-main-clr);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(21 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.contacts-location__phone {
  margin-bottom: 6px;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 4px;
  }
}


// btn
.contacts-btn {
  justify-content: center;
  text-align: center;

  @media screen and(min-width:768px) {
    display: flex;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-btn__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
