$breacpoints: (
  'phone': 480px,
  'tablet': 768px,
  'decktop': 1200px,
);

.container {
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  // outline: 2px solid red;
  // outline-offset: 2px;

  // phone screen
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  // tablet
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  // decktop
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
