/* Slider */
.slider {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1268px) {
    margin-bottom: 140px;
  }
}
.slider__container {
  margin: 0 auto;

  @media screen and (max-width: 479px) {
    min-width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 705px;
  }
  @media screen and (min-width: 1268px) {
    width: 1013px;
  }
}
.slider__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.slider__content > .slider__review {
  flex-grow: 1;
}
.slider__thumb {
  width: 85px;
  // margin-left: auto;
  // margin-right: auto;
  /* margin-bottom: 32px; */
  border-radius: 44px;

  overflow: hidden;
}

.slider__review {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-bottom: 32px; */

  padding-left: 39px;
  padding-top: 35px;
  padding-right: 39px;
  padding-bottom: 35px;

  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  background-color: #84a178;
  border-radius: 10px;
  color: var(--text-secondary-clr);

  @media screen and (max-width: 479px) {
    min-width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 705px;
    height: 138px;
    padding-left: 80px;
    padding-top: 28px;
    padding-right: 80px;
    padding-bottom: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 86;

    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1268px) {
    width: 968px;
    padding-left: 74px;
    padding-top: 28px;
    padding-right: 74px;
    padding-bottom: 28px;
    font-size: 16px;
  }
}
.slider__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;

  text-align: center;

  color: var(--text-main-clr);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.swiper-slide {
  margin-bottom: 32px;

  // @media screen and (min-width: 768px) {
  //   margin-bottom: 32px;
  // }
}

.slider .swiper-pagination .swiper-pagination-bullet {
  margin: 0 9px;
}
.slider
  > .swiper-horizontal
  .swiper-pagination-bullets
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 9px;
}
.swiper .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #d9d9d9;
  opacity: 1;
  display: inline-block;
  border-radius: 50%;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #84a178;
}
