.footer {
  padding-bottom: 20px;
  background-color: var(--bg-main-clr);
}

.footer__container {
  @include flex(flex, false, false, column);
  padding-left: 20px;
  padding-right: 20px;
}

.footer__tumb {
  @include flex(flex, false, false, column);
  gap: 16px;

  @media screen and (max-width: 767px) {
    width: 280px;
  }
}

.footer__title {
  @include fonts(18px, 22px, 700, 0.1em, uppercase, var(--text-secondary-clr));
}

.footer__title-accent {
  @include fonts(34px, 41px, 700, 0.04em, uppercase, var(--text-secondary-clr));
}

.footer-socials {
  padding-top: 60px;
  padding-bottom: 20px;
  margin-left: auto;
}

.footer-socials__list {
  @include flex(flex, center, center);
  gap: 20px;
}

.footer-socials__item {
  width: 34px;
  height: 34px;
}

.footer-socials__link {
  @include flex(flex, center, center);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-clr);
  color: var(--icon-socials-clr);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--icon-hover-focus-clr);
  }
}

.footer-socials__icon {
  fill: currentColor;
}

.footer-communication {
  margin-left: auto;
  text-align: right;
  padding-bottom: 40px;
}

.footer-communication_text {
  @include fonts(12px, 22px, 700, 0.04em, false, var(--text-main-clr));
}

.footer-communication__contacts {
  @include fonts(12px, 22px, 700, 0.04em, false, var(--text-secondary-clr));
}

.foter-info {
  text-align: center;
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
}

.foter-info_text {
  @include fonts(14px, 21px, 700, 0.04em, false, var(--text-main-clr));
}
