.gallery {
  @media screen and (max-width: 767px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 140px;
  }
}

.gallery-container {
  @media screen and (max-width: 767px) {
    padding-right: 20px;
    padding-left: 20px;
    min-height: 130px;
    background-image: linear-gradient(
      to bottom,
      var(--bg-main-clr) 25%,
      transparent 25%,
      transparent 75%
    );
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-right: 32px;
    padding-left: 32px;
    min-height: 327px;
    background-image: linear-gradient(
      to bottom,
      var(--bg-main-clr) 44%,
      transparent 44%,
      transparent 56%
    );
  }
  @media screen and (min-width: 1200px) {
    padding-right: 93px;
    padding-left: 93px;
    min-height: 422px;

    background-image: linear-gradient(
      to bottom,
      var(--bg-main-clr) 23%,
      transparent 23%,
      transparent 77%
    );
  }
}

.gallery-thumb {
  margin: 0 auto;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    max-width: 440px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: 704px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1013px;
  }
}

#cf4a {
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    max-width: 440px;
    height: 130px;
    border-radius: 8px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 704px;
    height: 327px;
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    width: 1013px;
    height: 422px;
    border-radius: 24px;
  }
}

#cf4a img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cf4FadeInOut {
  0% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cf4a img {
  animation-name: cf4FadeInOut;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: normal;
}

#cf4a img:nth-of-type(1) {
  animation-delay: 4s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 2s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 0s;
}
