.header {
  background-color: var(--bg-main-clr);
}

.header-container {
  display: flex;
  align-items: flex-end;
  padding-top: 12px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
  }
}

.logo {
  margin-right: auto;
}

.nav_list {
  display: none;
  margin-right: 204px;

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 28px;
  }
}

.navigation {
  padding-bottom: 13px;
}

.nav_link {
  padding: 11px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-secondary-clr);

  &:hover,
  &:focus {
    @include transition(color);
    color: var(--accent-clr);
  }
}

.icon-menu {
  fill: var(--text-white-color);

  &:hover,
  &:focus {
    fill: var(--accent-clr);
  }
}

.btn-wrap {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}