.header {
  background-color: var(--bg-main-clr);
}

.header-container {
  display: flex;
  align-items: flex-end;
  @include section(12px, 10px);

  @media screen and (min-width: 768px) {
    @include section(20px, 10px);
  }

  @media screen and (min-width: 1200px) {
    @include section(8px, 10px);
  }
}

.logo {
  margin-right: auto;
}

.nav_list {
  display: none;
  margin-right: 204px;

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 28px;
  }
}

.navigation {
  padding-bottom: 13px;
}

.nav_link {
  padding: 11px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-secondary-clr);

  &:hover,
  &:focus {
    @include transition(color);
    color: var(--accent-clr);
  }
}

// .icon-menu {
//   fill: var(--text-white-color);

//   &:hover,
//   &:focus {
//     fill: var(--accent-clr);
//   }
// }

.btn-wrap {
  display: none;
  
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 3px;
  }
}

.btn-header {
  display: flex;
  align-items: center;
}

.menu-toggle {
  color: var(--text-white-color);

  &:hover,
  &:focus {
    color: var(--accent-clr);
  }
}

.icon-menu {
  fill: currentColor;
}
