.menu-toggle,
.menu-toggle-close {
  border: none;
  background-color: transparent;
  margin-left: auto;
  position: absolute;
  top: 16px;
  right: 20px;
  color: var(--text-white-color);
}

.menu-toggle {
  position: inherit;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-toggle-close {
  &:hover,
  &:focus {
    color: var(--accent-clr);
  }
  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.icon-close {
  fill: currentColor;
}

.menu-container {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 100px 20px 250px;
  background-color: var(--mobile-menu-bg-clr);
  z-index: 999;
  transform: translateX(100%);
  @include transition(transform);

  overflow-y: auto;

  @media screen and (min-width: 768px) {
    padding: 140px 32px 64px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0) scale(1);
}

.mobile-menu {
  margin-bottom: 64px;
  text-align: center;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 10vw;
  line-height: calc(39 / 32);
  letter-spacing: 0.02em;
  color: var(--text-secondary-clr);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-main-clr);
  }
  @media screen and (min-width: 480px) {
    font-size: 48px;
  }
}

.mobile-menu-logo {
  position: absolute;
  top: 12px;
  left: 32px;
  @media screen and (min-width: 768px) {
    top: 20px;
  }
}

.mobile-menu-btn {
  margin-top: auto;
  width: 152px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
