.modal-location {
  padding: 28px;
  max-width: 280px;
  max-height: 365px;
  @media screen and (min-width: 480px) {
    padding: 30px 44px;
    max-width: 424px;
    max-height: 412px;
  }
  @media screen and (min-width: 768px) {
    padding: 32px 60px;
    max-width: 568px;
    max-height: 458px;
  }
}
.modal-location__title {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-main-clr);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}
.modal-location__picture {
  display: block;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
