/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
  backdrop-filter: blur(2px);
}
/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  // /*  Установаем ширину окна  */
  width: 87vw;
  max-width: 568px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--accent-clr);
  background-color: var(--bg-secondary-clr);
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal.active {
  max-height: 95vh;
  min-width: 280px;
  @media screen and (max-width: 479.98px) {
    max-width: 440px;
  }
  @media screen and (min-width: 768px) {
    width: 568px;
  }
}

.modal-form-wrapper__field:placeholder-shown:invalid {
  border-color: #198754;
  background-image: none;
}

.modal-form-wrapper__field:invalid,
.modal-form-wrapper__field:valid {
  border-color: #dc3545;
  padding-right: 2.25rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 1.125rem 1.125rem;
}
.modal-form-wrapper__field:valid {
  border-color: #198754;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.modal-form-wrapper__field:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
.modal-form-wrapper__field:valid:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}
inpur:focus {
  border-color: #198754;
}

/* Стили для кнопки закрытия */

.button-svg {
  border: none;
  background-color: var(--bg-secondary-clr);
  position: absolute;
  top: 12px;
  right: 12px;
  width: 25px;
  height: 25px;
  fill: #444;

  @include transition(fill);

  :hover,
  :focus {
    fill: var(--btn-hover-focus-bg-clr);
  }
}
.modal-form-message {
  resize: none;
}

// Анімований бекдроп модалок

@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';
* {
  box-sizing: border-box;
}

.wrap {
  height: 100vh;
  perspective-origin: 50% 50%;
  overflow: hidden;
}

.svg {
  position: absolute;
  bottom: -100vh;
  transform-style: flat;
}

.svg:nth-child(1) {
  left: 41%;
  -webkit-animation: raise1 11s linear infinite;
  animation: raise1 11s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  transform: scale(-0.3) rotate(80deg);
  z-index: -6;
  filter: blur(-6px);
}
@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(8deg);
  }
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(8deg);
  }
}

.svg:nth-child(2) {
  left: 75%;
  -webkit-animation: raise2 17s linear infinite;
  animation: raise2 17s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  transform: scale(0) rotate(68deg);
  z-index: -5;
  filter: blur(-5px);
}
@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(2deg);
  }
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(2deg);
  }
}

.svg:nth-child(3) {
  left: 44%;
  -webkit-animation: raise3 19s linear infinite;
  animation: raise3 19s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  transform: scale(0.3) rotate(54deg);
  z-index: -4;
  filter: blur(-4px);
}
@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(10deg);
  }
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(10deg);
  }
}

.svg:nth-child(4) {
  left: 82%;
  -webkit-animation: raise4 19s linear infinite;
  animation: raise4 19s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  transform: scale(0.6) rotate(1deg);
  z-index: -3;
  filter: blur(-3px);
}
@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(2deg);
  }
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(2deg);
  }
}

.svg:nth-child(5) {
  left: 39%;
  -webkit-animation: raise5 21s linear infinite;
  animation: raise5 21s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  transform: scale(0.9) rotate(45deg);
  z-index: -2;
  filter: blur(-2px);
}
@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(2deg);
  }
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(2deg);
  }
}

.svg:nth-child(6) {
  left: 29%;
  -webkit-animation: raise6 13s linear infinite;
  animation: raise6 13s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  transform: scale(1.2) rotate(57deg);
  z-index: -1;
  filter: blur(-1px);
}
@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(2deg);
  }
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(2deg);
  }
}

.svg:nth-child(7) {
  left: -18%;
  -webkit-animation: raise7 18s linear infinite;
  animation: raise7 18s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  transform: scale(1.5) rotate(49deg);
  z-index: 0;
  filter: blur(0px);
}
@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(4deg);
  }
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(4deg);
  }
}

.svg:nth-child(8) {
  left: 23%;
  -webkit-animation: raise8 21s linear infinite;
  animation: raise8 21s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  transform: scale(1.8) rotate(4deg);
  z-index: 1;
  filter: blur(1px);
}
@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(10deg);
  }
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(10deg);
  }
}

.svg:nth-child(9) {
  left: 37%;
  -webkit-animation: raise9 14s linear infinite;
  animation: raise9 14s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  transform: scale(2.1) rotate(40deg);
  z-index: 2;
  filter: blur(2px);
}
@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(6deg);
  }
}
@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(6deg);
  }
}

.svg:nth-child(10) {
  left: 31%;
  -webkit-animation: raise10 17s linear infinite;
  animation: raise10 17s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  transform: scale(2.4) rotate(6deg);
  z-index: 3;
  filter: blur(3px);
}
@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(5deg);
  }
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(5deg);
  }
} /*# sourceMappingURL=styles.css.map */

// Margins fixes

.modal-form-message,
.modal-form-message-fr {
  display: block;
  margin: 0 auto;
}

.modal-form-wrapper {
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.modal-form-message,
.modal-form-message-fr {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

// mobile-devices scroll add
.modal {
  max-height: 95vh;
  overflow-y: auto;
}
