@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--text-main-clr);

  // Page background-image
  // Mobile screen
  background-image: url('../images/background/sm@1x.jpg');
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
  // Retina mobile screen
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/background/sm@2x.jpg);
  }

  // Tablet screen
  @media screen and (min-width: 768px) {
    background-image: url(../images/background/md@1x.jpg);
    // Retina tablet screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/md@2x.jpg);
    }
  }

  // Desktop screen
  @media screen and (min-width: 1200px) {
    background-image: url(../images/background/lg@1x.jpg);
    // Retina desktop screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/lg@2x.jpg);
    }
  }
}

// castom cursor
a,
button,
summary::after {
  cursor: url('../images/cursor-pointer.svg'), pointer;
}

body {
  cursor: url('../images/cursor.svg'), auto;
}

.page {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.overlay.active {
  overflow-y: auto;
  pointer-events: none;
}
