@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--text-main-clr);

  // Page background-image
  // Mobile screen
  background-image: url('../images/background/sm@1x.jpg');
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
  // Retina mobile screen
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/background/sm@2x.jpg);
  }

  // Tablet screen
  @media screen and (min-width: 768px) {
    background-image: url(../images/background/md@1x.jpg);
    // Retina tablet screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/md@2x.jpg);
    }
  }

  // Desktop screen
  @media screen and (min-width: 1200px) {
    background-image: url(../images/background/lg@1x.jpg);
    // Retina desktop screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/lg@2x.jpg);
    }
  }
}

// castom cursor
a,
button,
summary::after,
.checkbox,
.checkbox-label,
.modal-product-card-list__item,
.swiper-pagination-bullet:hover {
  cursor: url('../images/cursor-pointer.svg'), pointer;
}

body {
  cursor: url('../images/cursor.svg'), auto;
}

.page {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.overlay.active {
  overflow-y: auto;
  pointer-events: none;
}

.bg__header-hero {
  background-color: var(--bg-main-clr);
}


.bg__about-gallery {
  @media screen and (max-width: 767.98px) {
      background-image: linear-gradient(to bottom,
          var(--bg-main-clr) 88%,
          transparent 88%);
    }
  
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      background-image: linear-gradient(to bottom,
          var(--bg-main-clr) 1000px,
          transparent 1000px);
    }
  
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(to bottom,
          var(--bg-main-clr) 1200px,
          transparent 1200px);
    }
}


.bg__contacts-footer {
background-image: linear-gradient(to bottom,
      transparent 353px,
      var(--bg-main-clr) 353px);
}