@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--text-main-clr);

  // Page background-image
  // Mobile screen
  background-image: url('../images/background/sm@1x.jpg');
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
  // Retina mobile screen
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/background/sm@2x.jpg);
  }

  // Tablet screen
  @media screen and (min-width: 768px) {
    background-image: url(../images/background/md@1x.jpg);
    // Retina tablet screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/md@2x.jpg);
    }
  }

  // Desktop screen
  @media screen and (min-width: 1200px) {
    background-image: url(../images/background/lg@1x.jpg);
    // Retina desktop screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/lg@2x.jpg);
    }
  }
}

// custom cursor
a,
button,
summary::after,
.checkbox,
.checkbox-label,
.modal-product-card-list__item,
.swiper-pagination-bullet:hover {
  cursor: url('../images/cursor-pointer.svg'), pointer;
}

body {
  cursor: url('../images/cursor.svg'), auto;
}

.page {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.overlay.active {
  overflow-y: auto;
  pointer-events: none;
}

// custom scrollbar

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: #fcfcfc;
  border: 1px solid outset var(--accent-clr);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.2),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  border-radius: 10px;
  border: 6px solid #fcfcfc;
}

// custom scrollbar body

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--text-white-color);
  border-radius: 0;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.2),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  // border-radius: 10px;
  border: 3px solid var(--text-white-color);
}

// custom scrollbar menu

.menu-container::-webkit-scrollbar-track {
  background-color: var(--bg-main-clr);
}

.menu-container::-webkit-scrollbar-thumb {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.2),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  border-radius: 10px;
  border: 6px solid var(--bg-main-clr);
}

// custom scrollbar overlay animation

.overlay::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.overlay {
  overflow-x: hidden;
}
